.post-buttons{
    margin:5px 10px 0 0;
}

.post .card-header{
    background-color: rgba(0,255,0,0.3);
}
.Active{
    color: white;
}
.heading{
    display: inline;
}
.float-end{
    display: inline-block;
  background-color: lightcyan;
  text-decoration: none;
  color: white;
}